* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: gray;
    border: 1px solid black;
    height: 80px;
}

.logo-name-container {
    display: flex;
    align-items: center;
}

.logo,
.nav_name {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}